header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

main {
    margin: 20px;
}

table {
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid black;
    padding: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: end;
}
