{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block header %}
    <h1>Sign Up</h1>
{% endblock %}

{% block main %}

    <!-- sign up form -->
    <form action="{{ url_for('signup') }}" method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
                type="text"
                class="form-control"
                name="username"
                id="username"
                placeholder="Username"
                required
            >
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input
                type="text"
                class="form-control"
                name="name"
                id="name"
                placeholder="Name"
                required
            >
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
                type="password"
                class="form-control"
                name="password"
                id="password"
                placeholder="Password"
                required
            >
        </div>
        <div class="mb-3">
            <label for="confirm-password" class="form-label">Confirm Password</label>
            <input
                type="password"
                class="form-control"
                name="confirm-password"
                id="confirm-password"
                placeholder="Confirm Password"
                required
            >
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
    <!-- sign up form end -->

{% endblock %}
